.valores{
    max-width: 100%;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    padding: 2rem;
 
    width: 355px;
    height: 25%;
    gap: 2rem;
  }
  .valores>
  h1 {
    font-size:1.375rem;
   color: #343A40;
   font-weight: 700;
   
   width: 100%;
  }

  .valores>span{
    
        color:#212529;
        font-size: 1rem;
        font-weight: 700;
       
        width: 80%;
      
      
  }

  .totalValue{
   max-width: 100%;
    width: 355px;
    height:96px;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    flex-wrap: wrap;
    gap: 1rem;
    border:1px solid #E9ECEF;
    border-radius: 4px;
  }
  .totalValue>p{
    font-size: 1rem;
    font-weight: 700;
    color:#212529
  }
  .totalValue>span{
    font-size: 1rem;
    font-weight: 700;
    color: #FD377E;
  }

  .totalValue>small{
    font-size: 0.75rem;
    color: #343A40;
    font-weight: 400;
    width: 100%;
  }

  ul{
    max-width: 100%;
    width: 350px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem
    
  }
  ul>p{
    font-size: 1rem;
    font-weight: 700;
    color:#212529
  }

 @media(min-width:800px){
  ul{
    position: absolute;
   
    width: 35%;
    right: 25px;
  }
  .valores{
    position: absolute;
   
    width: 350px;
    right: 25px;
  }

 }

 @media(min-width:1000px){
  ul,.valores{
width: 45%;
  }
}
 @media(min-width:1300px){
  ul,.valores{
width: 50%;
  }
}